.input-url {
    background-color: #202024;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    height: 3rem;
    padding: 0rem .6rem;
    width: 12rem;
}

.input-url:focus {
    outline: 2px solid #8257e5;
}

@media (min-width: 760px) {
    .input-url {
        width: 22rem
    }
}