.text-general-style {
    align-self: flex-start;
    color: #fff;
}

.subtitle {
    margin-top: 6.5rem;
}

.paragraph {
    text-align: justify;
    max-width: 400px;
}

.lighter-text {
    color: #7c7c8a;
    user-select: none;
}