.text-general-style {
    align-self: flex-start;
    color: #fff;
}

.subtitle {
    margin-top: 4rem;
}

.paragraph {
    text-align: justify;
    max-width: 400px;
    margin-top: -5px;
}

.lighter-text {
    color: #7c7c8a;
    user-select: none;
}

.darker-text {
    color: #fff;
    user-select: auto;
}
